*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #a1a6a9;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}
h1{
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 5px 5px 10px #333 ;
}
h2{
    font-size: 45pxpx;
    text-transform: uppercase;
    text-align: center;
}


.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505c;
    background-image: url("https://cdn.pixabay.com/photo/2017/09/08/20/29/chess-2730034_1280.jpg");
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    text-shadow: 5px 5px 10px whitesmoke;
    border-right: 2px solid;
    border-bottom: 2px solid;
    cursor: pointer;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    margin: 5rem;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #37505c;
    color: #F2C14E;
    border-color: var(--orange);
}
.signincontainer{
    height:auto;
    width: auto;
    background-color: #37505c;
    
}
#signinbody{
    background-image: url("https://images.pexels.com/photos/278888/pexels-photo-278888.jpeg?auto=compress&cs=tinysrgb&w=600");
}

#myButton{
    text-decoration: none;
    color: #000;
}
